<ion-view view-title='' cache-view='false'>
    <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-ios-arrow-back" href="#/tab/tab-articles"></a>

    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-share" ng-click="share(topic)"></button>
    </ion-nav-buttons>
    <ion-content class="has-header"  overflow-scroll="true">


        <iframe ng-src="{{getIframeSrc()}}" frameborder="0" scrolling="no"   style="min-height: 100%;width:100%;"></iframe>
    </ion-content>

</ion-view>
