


<ion-view view-title="Articles">


    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

        <!--幻灯片-->
        <ion-slide-box active-slide="myActiveSlide">
            <ion-slide>
                <div class="box">
                    <img src="http://pic.w2bc.com/upload/201611/18/201611180037398750.jpg" alt="" />
                    <h1>jquery手机端带农历的万年历插件</h1>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="http://pic.w2bc.com/upload/201611/18/201611180037374140.jpg" alt="" />
                    <h1>HTML5 SVG地图旋转动画特效</h1>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="http://pic.w2bc.com/upload/201611/16/201611162051269638.jpg" alt="" />
                    <h1>Canvas三角图形背景生成器代码</h1>
                </div>
            </ion-slide>
        </ion-slide-box>
        <!--/幻灯片  #/tab/chats/{{chat.Id}}-->
        <div class="list" id="article_list">
            <a class="item item-thumbnail-left" ng-repeat="item in vmArticles" ng-click="openArticle(http://www.w2bc.com/article/{{item.Id}}?f=app)" href="#/articl/{{item.Id}}">
                <img class="list_img" ng-src="{{item.ImgUrl}}">
                <h2>{{item.Title}}</h2>
                <p>{{item.AddTime}}</p>
            </a>
        </div>
        <!-- 上拉加载更多 distance默认1% nf-if的值为false时，就禁止执行on-infinite     -->
        <ion-infinite-scroll ng-if="!noMorePage" immediate-check="false" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
        <!-- /上拉加载更多 -->
    </ion-content>
</ion-view>
